Magic 271485
Revision Verdi_R-2020.12-SP1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 868 259 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/juchan.lee/RNN/RNN_project/sim/functional/reports/tb_TOP.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 4658557.452229
cursor 905000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 70

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "N0"
activeDirFile "" "/home/juchan.lee/RNN/RNN_project/sim/functional/reports/tb_TOP.fsdb"
addSignal -h 15 /tb_TOP/u_RNN/N0/CLK
addSignal -h 15 -UNSIGNED -holdScope state[31:0]
addSignal -h 15 -holdScope IN0_REQ
addSignal -h 15 -holdScope IN1_REQ
addSignal -h 15 -holdScope IN2_REQ
addSignal -h 15 -holdScope IN3_REQ
addSignal -h 15 -holdScope IN0_ACK
addSignal -h 15 -holdScope IN1_ACK
addSignal -h 15 -holdScope IN2_ACK
addSignal -h 15 -holdScope IN3_ACK
addSignal -h 15 -holdScope IN0_DATA
addSignal -h 15 -holdScope IN1_DATA
addSignal -h 15 -holdScope IN2_DATA
addSignal -h 15 -holdScope IN3_DATA
addSignal -h 15 -holdScope OUT_REQ
addSignal -h 15 -holdScope OUT_ACK
addSignal -h 15 -holdScope OUT_DATA
addSignal -h 15 -holdScope RSTB
addSignal -h 15 -holdScope recv_flag[3:0]
addSignal -expanded -h 15 -UNSIGNED -UDEC -holdScope data[3:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope data[3][7:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope data[2][7:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope data[1][7:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope data[0][7:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope sum[11:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope output_data[7:0]
addSignal -h 15 -holdScope recv_bit_counter[3:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope scaled_data[3:0]
addSignal -h 15 -holdScope send_bit_counter[2:0]
addGroup "N4"
addSignal -h 15 /tb_TOP/u_RNN/N4/CLK
addSignal -h 15 -UNSIGNED -holdScope state[31:0]
addSignal -h 15 -holdScope IN0_REQ
addSignal -h 15 -holdScope IN1_REQ
addSignal -h 15 -holdScope IN2_REQ
addSignal -h 15 -holdScope IN3_REQ
addSignal -h 15 -holdScope IN0_ACK
addSignal -h 15 -holdScope IN1_ACK
addSignal -h 15 -holdScope IN2_ACK
addSignal -h 15 -holdScope IN3_ACK
addSignal -h 15 -holdScope IN0_DATA
addSignal -h 15 -holdScope IN1_DATA
addSignal -h 15 -holdScope IN2_DATA
addSignal -h 15 -holdScope IN3_DATA
addSignal -h 15 -holdScope OUT_ACK
addSignal -h 15 -holdScope OUT_DATA
addSignal -h 15 -holdScope OUT_REQ
addSignal -h 15 -holdScope RSTB
addSignal -h 15 -holdScope recv_flag[3:0]
addSignal -expanded -h 15 -UNSIGNED -UDEC -holdScope data[3:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope data[3][7:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope data[2][7:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope data[1][7:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope data[0][7:0]
addSignal -h 15 -holdScope output_data[7:0]
addSignal -h 15 -holdScope recv_bit_counter[3:0]
addSignal -expanded -h 15 -UNSIGNED -UDEC -holdScope scaled_data[3:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope scaled_data[3][11:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope scaled_data[2][11:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope scaled_data[1][11:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope scaled_data[0][11:0]
addSignal -h 15 -holdScope send_bit_counter[2:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope sum[11:0]
addGroup "G3"
addSignal -h 15 /tb_TOP/output_ack
addSignal -h 15 -holdScope i[31:0]
addSignal -h 15 -holdScope eval_val[7:0]
addSignal -h 15 -holdScope OUT_DATA
addSignal -h 15 -holdScope random_data[63:0]
addGroup "G4"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/juchan.lee/RNN/RNN_project/sim/functional/reports/tb_TOP.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/tb_TOP"
"/tb_TOP/u_RNN"

SCOPE_LIST_BEGIN
"/tb_TOP"
"/tb_TOP/u_RNN/N0"
"/tb_TOP/u_RNN/N4"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


